<p>work space</p>
<input [(ngModel)]="selectPokes">
<input [(ngModel)]="id" [disabled]="id">
<div class="container">
    <div class="row">
      <label>
        Name:
        <select [(ngModel)]="selectPokes"   >

        <option *ngFor="let i of (pokemons | filterPokemeonPipe : 'name' : selectPokes)"
                  [value]="i.name"> {{i.name}}
        </option>
<!--          <option *ngFor="let pokemon of pokemons" value="{{pokemon.name}}">{{pokemon.name}}</option>-->

        </select>
      </label>
    <div>
  </div>
    <div>
      <button (click)="clicSurBouton()">Go</button>
    </div>
  </div>
</div>
