<div class="center">
  
  <h2>My Pockemeon</h2>

  <mat-form-field  >
      <mat-label>Search by id pokemon</mat-label>
      <input matInput [(ngModel)]="selected2" (ngModelChange)="checkPok(selected2)"  >
    </mat-form-field>
   <br>

    <mat-form-field  >
      <mat-label>Search pokemon</mat-label>
      <input matInput [(ngModel)]="test" >
    </mat-form-field>

    <mat-form-field>
      <select matNativeControl [(ngModel)]="selected">
         <option *ngFor="let item of pockemons|filterPokemonPipe:'name':test" [ngValue]="item.name">
          {{item.name}}
        </option>
      </select>
    </mat-form-field>
   <button mat-button (click)=" selectPockemon(selected)" color="primary">GO</button>
    <app-affiche-infos *ngIf="pokemon"  [pokemon]="pokemon"></app-affiche-infos>

</div>